*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
  padding: 32px 32px 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  border: 3px solid #ffffff4a;
  padding: 24px 12px 12px 23px;
  margin-bottom: 105px;
}

.header h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}

.score {
  padding: 10px 22px 10px 23px;
  background-color: #ffffff;
  box-shadow: 0px 3px 3px 0px #00000032;
  border-radius: 5px;
}

.score h2 {
  color: #565468;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.score h5 {
  color: #2a45c2;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 1.5625px;
  text-align: center;
}

.game {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 51px;
  align-items: center;
  margin-bottom: 139px;
  /* background-image: url("/assets/img/ucgen.png") ;
  background-repeat: no-repeat; */
}

.game .tas {
  margin-left: 85px;
}

.footer {
  display: flex;
  justify-content: end;
}
.rules {
  margin: 0 auto;
  width: 128px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: 2.5px;
  text-align: center;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 8px;
  padding: 11px 36px 10px 37px;
}

.footer a:hover {
  background-color: #ffffff;
  color: #3b4262;
}
/* ----------------------------STEP 2 */

.game-step2 {
  display: flex;
  align-items: end;
  gap: 20px;
  margin-bottom: 245px;
}

.game-step2 h4 {
  font-size: 15px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.875px;
  text-align: center;
  color: #ffffff;
}

.user2 img {
  margin-left: 40px;
  margin-bottom: 28px;
}
.game-step2-desktop {
  display: none;
}

.game-step3-desktop {
  display: none;
}

.game-step3 {
  display: flex;
  align-items: center;
}

.game-step3 img {
  margin-bottom: 12px;
}


.game-step3 h4 {
  margin-bottom: 62px;
  font-size: 15px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.875px;
  text-align: center;
  color: #ffffff;
}
.win {
  align-items: center;
  margin: 0 auto;
}

.win button {
  padding-block: 15px;
  padding-inline: 30px;
  box-shadow: 0px 3px 3px 0px #00000032;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: 2.5px;
  text-align: center;
  color: #3b4262;
  margin-bottom: 52px;
  margin-left: 65px;
}
.win h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

/* !------------------------------------------------------------------- DESKTOP */
/* !--------------------------------------------------------------------- */

@media (width > 1024px) {
  .container {
    margin: 0 auto;
    background: radial-gradient(
      134.34% 134.34% at 50% 0%,
      #1f3757 0%,
      #131537 100%
    );

    padding-top: 48px;
  }

  .header {
    width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    border: 3px solid #ffffff4a;
    padding: 24px 12px 12px 23px;
    margin-bottom: 105px;
  }

  .header h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
  }

  .score {
    padding: 10px 22px 10px 23px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px 0px #00000032;
    border-radius: 5px;
  }

  .score h2 {
    color: #565468;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }

  .score h5 {
    color: #2a45c2;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 1.5625px;
    text-align: center;
  }

  .game {
    width: 476px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    align-items: center;
    margin-bottom: 139px;
    /* background-image: url("/assets/img/ucgen.png") ;
    background-repeat: no-repeat; */
  }

  .game .tas {
    margin-left: 150px;
  }

  .rules {
    margin: 0 auto;
    width: 128px;
    border: 1px solid #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    letter-spacing: 2.5px;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    padding-block: 10px;
    margin-right: 32px;
  }

  .game-step2 {
    display: none;
  }
  .game-step2-desktop {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 106px;
    padding-bottom: 103px;
    padding-inline: 360px;
  }
  .game-step2-desktop h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 63px;
  }
  .game-step3 {
    display: none;
  }

  .game-step3-desktop {
    margin-inline: 0 ;
    padding-inline: 250px;
    display: flex;
    align-items: start;
    gap: 60px;
  }

  .game-step3-desktop h4 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 63px;
  }

  .win {
    margin-top: 80px;
    margin-inline: 0 ;
    align-items: center;
  }


  .win h2 {
    width: 193px;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    color: #ffffff;
    align-items: center;
    margin-left: 60px;
  }

  .win button {
    width: 220px;
    padding-block:15px ;
    box-shadow: 0px 3px 3px 0px #00000032;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    letter-spacing: 2.5px;
    text-align: center;
    align-items: center;
    color: #3b4262;
  }
  .game-step3-desktop h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
  }
}
